.main-box{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-box{
  width: 30%;
  padding: 3rem 0;
  background: #1d1d1d;
  margin-top: 5rem;
  border-radius: 1rem;
  gap: 2.5rem;
  box-sizing: unset;
  box-shadow: 1px 1px 7px rgb(254 254 254 / 8%);
}

.sign-box > h3{
  color: #DAC5A7;
  font-size: xx-large;
  font-family: auto;
  margin: 0;
}

.input-fields{
    width: 70%;
    gap: 1rem;
}

.input-fields > input{
    padding: 1rem;
    background-color: transparent;
    border: .3px solid white;
    border-radius: .6rem;
    width: 90%;
    color: white;
}

.input-fields > textarea{
  padding: 1rem;
  background-color: transparent;
  border: .3px solid white;
  border-radius: .6rem;
  width: 90%;
  color: white;
  height: 7.5rem;
}

.sign-box > button{
  background-color: #DAC5A7;
    color: black;
    padding: .5rem 1.5rem;
    font-size: larger;
    border-radius: .5rem;
    border: none;
    font-family: auto;
    transition: all 0.5s ease;
}

.sign-box > button:hover{
  transform: scale(1.02);
  background-color: transparent;
  border: 0.5px solid #DAC5A7;
  color: white;
}